#CentOS 7 Automated Minimal Install
#Author/Created by - Logan Toler
#Team 2; Zachary Brewer, Kenilkumar Patel
#https://github.com/tolerl1/proj1/test/ks.cfg

install
auth --enableshadow --passalgo=sha512
cdrom
graphical
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone America/New_York --utc

#activate network by removing comment
#server
network --device=eth0 --hostname=s1team2.hh.nku.edu  --activate
#client1
#network --device=eth0 --hostname=c1team2.hh.nku.edu --activate
#client2
#network --device=eth0 --hostname=c2team2.hh.nku.edu --activate
#client3
#network --device=eth0 --hostname=c3team2.hh.nku.edu --activate
#client4
#network --device=eth0 --hostname=c4team2.hh.nku.edu --activate

selinux --disabled
eula --agreed
rootpw --iscrypted $6$A4zGHabr6vv9vMG3$3RJ0keaxMtxFHxL/UPgD9bBKjmfZnD53aqtVNT9UWoiSnlB/pd0mDEJIYIhHeUIfiWmv17Ky5znR82F9f61gV.
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda

clearpart --all
part / --fstype=xfs --size=7500 --ondisk=sda
part /var --fstype=xfs	--size=2000 --ondisk=sda
part swap --fstype=swap	--size=512 --ondisk=sda

reboot

%packages
@^minimal
@core
kexec-tools
net-tools
%end

%post --log=/root/kickstart_install.log

# post configurations
mkdir /etc/skel/public_html
useradd -c "Test User" -s /bin/bash -d /home/test -m -p '$6$esyFN/6S$N27AXkrEkE3QojK4Qw/1BlnG2vG56HouQObxe7/SJfd3uJ2QDdcJVbxNFQL5dyBY94Cd1fChcYoXGgoUDZA0E1' test
echo "alias ll='ls -alF'" >>/home/test/.bashrc
echo "export PATH=$PATH:/sbin" >>/home/test/.bashrc
chmod 711 .
yum update -y
yum -y install bzip2 wget mod_ssl openssl
sudo systemctl enable firewalld
#bypass to cfg network
netconfig="/etc/sysconfig/network-scripts/ifcfg-ens33"
sed -i 's@BOOTPROTO=dhcp@BOOTPROTO=static @g' $netconfig
echo "IPADDR=10.2.7.229" >> $netconfig
echo "PREFIX=23" >> $netconfig
echo "GATEWAY=10.2.6.1" >> $netconfig
echo "DNS1=10.14.1.10" >> $netconfig
echo "DNS2=10.11.0.51" >> $netconfig
systemctl restart network
%end

